html,body {
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  width: fit-content;
  block-size: fit-content;

}
#root {
  background: #282c34;
  min-height: 100%;
  width: fit-content;
  block-size: fit-content;
}

.segmentClass {
  background-color: #282c34!important;
}

.segmentClassNoPadding {
  background-color: #282c34!important;
  padding: 0 !important;
}

.segmentClassSmaller {
  background-color: #282c34!important;
  margin: auto !important;
  width: 70% !important;
  padding: 0 !important;
}

.noTopPadding {
  padding-top: 0 !important;
}

.noTopHorPadding {
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.BottomPadding {
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.statistisClass {
  justify-content: center!important;
  padding-bottom: 25px!important;
}

canvas {
  background-color: #ffffff!important;
}

.ui.stackable.grid > .row > .column.wide.noPadding {
  padding: 0 !important;
  border-spacing: 0 !important;
}

.historyTable
{
  word-break: break-word;
}

